In [1]:
import numpy as np
import pandas as pd
import difflib

In [2]:
movie = pd.read_csv('tmdb_5000_movies.csv')
crides = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movie.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
crides.head(1)['cast'].values

array(['[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'],
      dtype=object)

In [5]:
movies = movie.merge(crides, on = 'title' )

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

# columns we have to maintain in the data set
1. genres
2. id
3. keywords
5. orginal_title
6. overview
8. cast
9. crew

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [8]:
movies = movies[[ 'id','genres', 'keywords','original_title','overview','cast', 'crew']]

In [9]:
movies.head()

,id,genres,keywords,original_title,overview,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [10]:
movies.duplicated().sum()

0

In [11]:
movies.iloc[1].genres

'[{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}]'

In [12]:
movies.isnull().sum()

id                0
genres            0
keywords          0
original_title    0
overview          3
cast              0
crew              0
dtype: int64

In [13]:
## '[{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}]'
## ['Adventutr','Fantacy','Action' ]

In [14]:
import ast
ast.literal_eval

In [15]:
def convert(obj):
    L =[]
    for i in ast. literal_eval(obj):
        L.append(i['name'])
    return L

In [16]:
# convert('[{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}]')

In [17]:
import ast

In [18]:
movies['genres'] = movies['genres'].apply(convert)

In [19]:
movies.head(2)

,id,genres,keywords,original_title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [20]:
movies['keywords'] = movies['keywords'].apply(convert)

In [21]:
movies.head(1)

,id,genres,keywords,original_title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [22]:
movies.iloc[1].cast

'[{"cast_id": 4, "character": "Captain Jack Sparrow", "credit_id": "52fe4232c3a36847f800b50d", "gender": 2, "id": 85, "name": "Johnny Depp", "order": 0}, {"cast_id": 5, "character": "Will Turner", "credit_id": "52fe4232c3a36847f800b511", "gender": 2, "id": 114, "name": "Orlando Bloom", "order": 1}, {"cast_id": 6, "character": "Elizabeth Swann", "credit_id": "52fe4232c3a36847f800b515", "gender": 1, "id": 116, "name": "Keira Knightley", "order": 2}, {"cast_id": 12, "character": "William \\"Bootstrap Bill\\" Turner", "credit_id": "52fe4232c3a36847f800b52d", "gender": 2, "id": 1640, "name": "Stellan Skarsg\\u00e5rd", "order": 3}, {"cast_id": 10, "character": "Captain Sao Feng", "credit_id": "52fe4232c3a36847f800b525", "gender": 2, "id": 1619, "name": "Chow Yun-fat", "order": 4}, {"cast_id": 9, "character": "Captain Davy Jones", "credit_id": "52fe4232c3a36847f800b521", "gender": 2, "id": 2440, "name": "Bill Nighy", "order": 5}, {"cast_id": 7, "character": "Captain Hector Barbossa", "credit_id": "52fe4232c3a36847f800b519", "gender": 2, "id": 118, "name": "Geoffrey Rush", "order": 6}, {"cast_id": 14, "character": "Admiral James Norrington", "credit_id": "52fe4232c3a36847f800b535", "gender": 2, "id": 1709, "name": "Jack Davenport", "order": 7}, {"cast_id": 13, "character": "Joshamee Gibbs", "credit_id": "52fe4232c3a36847f800b531", "gender": 2, "id": 2449, "name": "Kevin McNally", "order": 8}, {"cast_id": 11, "character": "Lord Cutler Beckett", "credit_id": "52fe4232c3a36847f800b529", "gender": 2, "id": 2441, "name": "Tom Hollander", "order": 9}, {"cast_id": 19, "character": "Tia Dalma", "credit_id": "52fe4232c3a36847f800b549", "gender": 1, "id": 2038, "name": "Naomie Harris", "order": 10}, {"cast_id": 8, "character": "Governor Weatherby Swann", "credit_id": "52fe4232c3a36847f800b51d", "gender": 2, "id": 378, "name": "Jonathan Pryce", "order": 11}, {"cast_id": 37, "character": "Captain Teague Sparrow", "credit_id": "52fe4232c3a36847f800b5b3", "gender": 2, "id": 1430, "name": "Keith Richards", "order": 12}, {"cast_id": 16, "character": "Pintel", "credit_id": "52fe4232c3a36847f800b53d", "gender": 2, "id": 1710, "name": "Lee Arenberg", "order": 13}, {"cast_id": 15, "character": "Ragetti", "credit_id": "52fe4232c3a36847f800b539", "gender": 2, "id": 1711, "name": "Mackenzie Crook", "order": 14}, {"cast_id": 18, "character": "Lieutenant Theodore Groves", "credit_id": "52fe4232c3a36847f800b545", "gender": 2, "id": 4031, "name": "Greg Ellis", "order": 15}, {"cast_id": 55, "character": "Cotton", "credit_id": "57e28d2ec3a3681a01005b5c", "gender": 2, "id": 1715, "name": "David Bailie", "order": 16}, {"cast_id": 17, "character": "Marty", "credit_id": "52fe4232c3a36847f800b541", "gender": 2, "id": 4030, "name": "Martin Klebba", "order": 17}, {"cast_id": 57, "character": "Ian Mercer", "credit_id": "57e28d78c3a36808b900bf4f", "gender": 0, "id": 939, "name": "David Schofield", "order": 18}, {"cast_id": 62, "character": "Scarlett", "credit_id": "57e28ec5c3a3681a50005855", "gender": 1, "id": 2450, "name": "Lauren Maher", "order": 19}, {"cast_id": 63, "character": "Giselle", "credit_id": "57e28ed692514123f5005635", "gender": 1, "id": 2452, "name": "Vanessa Branch", "order": 20}, {"cast_id": 60, "character": "Mullroy", "credit_id": "57e28db2c3a3681a01005bc7", "gender": 2, "id": 1714, "name": "Angus Barnett", "order": 21}, {"cast_id": 59, "character": "Murtogg", "credit_id": "57e28da192514118f7006008", "gender": 0, "id": 1713, "name": "Giles New", "order": 22}, {"cast_id": 58, "character": "Tai Huang", "credit_id": "57e28d8ec3a3681a01005bab", "gender": 2, "id": 22075, "name": "Reggie Lee", "order": 23}, {"cast_id": 64, "character": "Henry Turner", "credit_id": "57e29119925141151100a6cc", "gender": 2, "id": 61259, "name": "Dominic Scott Kay", "order": 24}, {"cast_id": 39, "character": "Mistress Ching", "credit_id": "52fe4232c3a36847f800b5bd", "gender": 1, "id": 33500, "name": "Takayo Fischer", "order": 25}, {"cast_id": 40, "character": "Lieutenant Greitzer", "credit_id": "52fe4232c3a36847f800b5c1", "gender": 2, "id": 1224149, "name": "David Meunier", "order": 26}, {"cast_id": 49, "character": "Hadras", "credit_id": "56d1871c92514174680010cf", "gender": 2, "id": 429401, "name": "Ho-Kwan Tse", "order": 27}, {"cast_id": 56, "character": "Clacker", "credit_id": "57e28d4b92514125710055cb", "gender": 0, "id": 1123, "name": "Andy Beckwith", "order": 28}, {"cast_id": 51, "character": "Penrod", "credit_id": "56ec8c14c3a3682260003c53", "gender": 2, "id": 1056117, "name": "Peter Donald Badalamenti II", "order": 29}, {"cast_id": 61, "character": "Cotton\'s Parrot (voice)", "credit_id": "57e28dcc9251412463005678", "gender": 2, "id": 21700, "name": "Christopher S. Capp", "order": 30}, {"cast_id": 65, "character": "Captain Teague", "credit_id": "58bc2a37c3a368663003740b", "gender": 2, "id": 1430, "name": "Keith Richards", "order": 31}, {"cast_id": 66, "character": "Captain Jocard", "credit_id": "58bc2a8e925141609e03a179", "gender": 2, "id": 2603, "name": "Hakeem Kae-Kazim", "order": 32}, {"cast_id": 67, "character": "Captain Ammand", "credit_id": "58e2a21ac3a36872af00f9c2", "gender": 0, "id": 70577, "name": "Ghassan Massoud", "order": 33}]'

In [23]:
def convert3(obj):
    L =[]
    counter = 0
    for i in ast. literal_eval(obj):
        if counter!=3:
            L.append(i['name'])
            counter+= 1
        else:
            break
    return L

In [24]:
movies['cast'] = movies['cast'].apply(convert3)

In [25]:
movies.head(1)

,id,genres,keywords,original_title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [26]:
movies.iloc[1].crew

'[{"credit_id": "52fe4232c3a36847f800b579", "department": "Camera", "gender": 2, "id": 120, "job": "Director of Photography", "name": "Dariusz Wolski"}, {"credit_id": "52fe4232c3a36847f800b4fd", "department": "Directing", "gender": 2, "id": 1704, "job": "Director", "name": "Gore Verbinski"}, {"credit_id": "52fe4232c3a36847f800b54f", "department": "Production", "gender": 2, "id": 770, "job": "Producer", "name": "Jerry Bruckheimer"}, {"credit_id": "52fe4232c3a36847f800b503", "department": "Writing", "gender": 2, "id": 1705, "job": "Screenplay", "name": "Ted Elliott"}, {"credit_id": "52fe4232c3a36847f800b509", "department": "Writing", "gender": 2, "id": 1706, "job": "Screenplay", "name": "Terry Rossio"}, {"credit_id": "52fe4232c3a36847f800b57f", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "52fe4232c3a36847f800b585", "department": "Editing", "gender": 2, "id": 1722, "job": "Editor", "name": "Craig Wood"}, {"credit_id": "52fe4232c3a36847f800b573", "department": "Sound", "gender": 2, "id": 947, "job": "Original Music Composer", "name": "Hans Zimmer"}, {"credit_id": "52fe4232c3a36847f800b555", "department": "Production", "gender": 2, "id": 2444, "job": "Executive Producer", "name": "Mike Stenson"}, {"credit_id": "52fe4232c3a36847f800b561", "department": "Production", "gender": 2, "id": 2445, "job": "Producer", "name": "Eric McLeod"}, {"credit_id": "52fe4232c3a36847f800b55b", "department": "Production", "gender": 2, "id": 2446, "job": "Producer", "name": "Chad Oman"}, {"credit_id": "52fe4232c3a36847f800b567", "department": "Production", "gender": 0, "id": 2447, "job": "Producer", "name": "Peter Kohn"}, {"credit_id": "52fe4232c3a36847f800b56d", "department": "Production", "gender": 0, "id": 2448, "job": "Producer", "name": "Pat Sandston"}, {"credit_id": "52fe4232c3a36847f800b58b", "department": "Production", "gender": 1, "id": 2215, "job": "Casting", "name": "Denise Chamian"}, {"credit_id": "52fe4232c3a36847f800b597", "department": "Art", "gender": 2, "id": 1226, "job": "Production Design", "name": "Rick Heinrichs"}, {"credit_id": "52fe4232c3a36847f800b59d", "department": "Art", "gender": 2, "id": 553, "job": "Art Direction", "name": "John Dexter"}, {"credit_id": "52fe4232c3a36847f800b591", "department": "Production", "gender": 1, "id": 3311, "job": "Casting", "name": "Priscilla John"}, {"credit_id": "52fe4232c3a36847f800b5a3", "department": "Art", "gender": 1, "id": 4032, "job": "Set Decoration", "name": "Cheryl Carasik"}, {"credit_id": "52fe4232c3a36847f800b5a9", "department": "Costume & Make-Up", "gender": 0, "id": 4033, "job": "Costume Design", "name": "Liz Dann"}, {"credit_id": "52fe4232c3a36847f800b5af", "department": "Costume & Make-Up", "gender": 1, "id": 4034, "job": "Costume Design", "name": "Penny Rose"}, {"credit_id": "56427ce8c3a3686a53000d8b", "department": "Sound", "gender": 2, "id": 5132, "job": "Music Supervisor", "name": "Bob Badami"}, {"credit_id": "55993c15c3a36855db002f33", "department": "Art", "gender": 2, "id": 146439, "job": "Conceptual Design", "name": "James Ward Byrkit"}, {"credit_id": "52fe4232c3a36847f800b5b9", "department": "Costume & Make-Up", "gender": 1, "id": 406204, "job": "Makeup Department Head", "name": "Ve Neill"}, {"credit_id": "56e47f7892514132690017bd", "department": "Crew", "gender": 2, "id": 1259516, "job": "Stunts", "name": "John Dixon"}, {"credit_id": "5740be639251416597000849", "department": "Crew", "gender": 0, "id": 1336716, "job": "CGI Supervisor", "name": "Dottie Starling"}, {"credit_id": "56427c639251412fc8000dc1", "department": "Directing", "gender": 1, "id": 1344278, "job": "Script Supervisor", "name": "Pamela Alch"}, {"credit_id": "57083101c3a3681d320004e6", "department": "Crew", "gender": 0, "id": 1368867, "job": "Special Effects Coordinator", "name": "Allen Hall"}, {"credit_id": "56427d5ec3a3686a62000d4a", "department": "Sound", "gender": 0, "id": 1368884, "job": "Music Editor", "name": "Melissa Muik"}, {"credit_id": "56427c7b9251412fd4000e07", "department": "Directing", "gender": 1, "id": 1395290, "job": "Script Supervisor", "name": "Sharron Reynolds"}, {"credit_id": "56427d2bc3a3686a53000d9b", "department": "Sound", "gender": 0, "id": 1399327, "job": "Music Editor", "name": "Barbara McDermott"}, {"credit_id": "56427cb4c3a3686a53000d87", "department": "Directing", "gender": 1, "id": 1400738, "job": "Script Supervisor", "name": "Karen Golden"}, {"credit_id": "56427d169251412fd4000e23", "department": "Sound", "gender": 0, "id": 1534197, "job": "Music Editor", "name": "Katie Greathouse"}]'

In [27]:
def fetch_director(obj):
    L =[]
    for i in ast. literal_eval(obj):
        if i ['job'] == 'Director' :
            L.append(i['name'])
            break
    return L

In [28]:
movies['crew']= movies['crew'].apply(fetch_director)

In [29]:
movies.head(2)

,id,genres,keywords,original_title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [30]:
movies.head(3)

,id,genres,keywords,original_title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",Spectre,A cryptic message from Bond’s past sends him o...,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]

In [31]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ", "")for i in x] )
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ", "")for i in x] )
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ", "")for i in x] )
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ", "")for i in x] )

In [32]:
movies.head(1)

,id,genres,keywords,original_title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [33]:
movies['tags'] = movies['overview'].map(str) + movies['genres'].map(str) +  movies['keywords'].map(str) +  movies['cast'].map(str) +  movies['crew'].map(str)

In [34]:
movies.head(1)

,id,genres,keywords,original_title,overview,cast,crew,tags
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"In the 22nd century, a paraplegic Marine is di..."

In [35]:
new_df = movies[['id', 'original_title','tags']]

In [36]:
new_df.head(1)

      id original_title                                               tags
0  19995         Avatar  In the 22nd century, a paraplegic Marine is di...

In [37]:
new_df.rename(columns={'id': 'movie_id'}, inplace = True)

C:\Users\windows\AppData\Local\Temp\ipykernel_13528\1939039232.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns={'id': 'movie_id'}, inplace = True)

In [38]:
new_df.head(1)

   movie_id original_title                                               tags
0     19995         Avatar  In the 22nd century, a paraplegic Marine is di...

In [39]:
new_df.rename(columns={'original_title': 'title'}, inplace = True)

C:\Users\windows\AppData\Local\Temp\ipykernel_13528\1264711564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns={'original_title': 'title'}, inplace = True)

In [40]:
new_df

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [41]:
new_df

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [42]:
new_df['tags'][0]

"In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.['Action', 'Adventure', 'Fantasy', 'ScienceFiction']['cultureclash', 'future', 'spacewar', 'spacecolony', 'society', 'spacetravel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alienplanet', 'cgi', 'marine', 'soldier', 'battle', 'loveaffair', 'antiwar', 'powerrelations', 'mindandsoul', '3d']['SamWorthington', 'ZoeSaldana', 'SigourneyWeaver']['JamesCameron']"

In [43]:
new_df['tags'][0]

"In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.['Action', 'Adventure', 'Fantasy', 'ScienceFiction']['cultureclash', 'future', 'spacewar', 'spacecolony', 'society', 'spacetravel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alienplanet', 'cgi', 'marine', 'soldier', 'battle', 'loveaffair', 'antiwar', 'powerrelations', 'mindandsoul', '3d']['SamWorthington', 'ZoeSaldana', 'SigourneyWeaver']['JamesCameron']"

In [44]:
new_df['tags'] = new_df['tags']. str.replace('[^a-zA-Z0-9 ]',' ')

C:\Users\windows\AppData\Local\Temp\ipykernel_13528\2567082568.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  new_df['tags'] = new_df['tags']. str.replace('[^a-zA-Z0-9 ]',' ')
C:\Users\windows\AppData\Local\Temp\ipykernel_13528\2567082568.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags']. str.replace('[^a-zA-Z0-9 ]',' ')

In [45]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\windows\AppData\Local\Temp\ipykernel_13528\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [46]:
new_df['tags'][0]

'in the 22nd century  a paraplegic marine is dispatched to the moon pandora on a unique mission  but becomes torn between following orders and protecting an alien civilization   action    adventure    fantasy    sciencefiction    cultureclash    future    spacewar    spacecolony    society    spacetravel    futuristic    romance    space    alien    tribe    alienplanet    cgi    marine    soldier    battle    loveaffair    antiwar    powerrelations    mindandsoul    3d    samworthington    zoesaldana    sigourneyweaver    jamescameron  '

In [47]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,in the 22nd century a paraplegic marine is di...
1,285,Pirates of the Caribbean: At World's End,captain barbossa long believed to be dead ha...
2,206647,Spectre,a cryptic message from bond s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,john carter is a war weary former military ca...

In [48]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\windows\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\windows\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\windows\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: click in c:\users\windows\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\windows\anaconda3\lib\site-packages (from nltk) (1.1.1)
Requirement already satisfied: colorama in c:\users\windows\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [49]:
import nltk

In [50]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [51]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [52]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\windows\AppData\Local\Temp\ipykernel_13528\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [53]:
new_df['tags'][0]

'in the 22nd centuri a parapleg marin is dispatch to the moon pandora on a uniqu mission but becom torn between follow order and protect an alien civil action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [54]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [55]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [56]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [57]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [58]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [59]:
from sklearn.metrics.pairwise import cosine_similarity

In [60]:
similarity = cosine_similarity(vectors)

In [61]:
similarity[1]

array([0.08238526, 1.        , 0.06063391, ..., 0.02251887, 0.        ,
       0.02585438])

In [62]:
sorted(similarity[0],reverse=True)

[1.0000000000000004,
 0.2625754538144587,
 0.2506402059138015,
 0.24773936993814405,
 0.2471557663714903,
 0.24403555043462524,
 0.23372319715296228,
 0.2335709179335258,
 0.23128442344214897,
 0.23007892341722033,
 0.22880215766121476,
 0.2264554068289191,
 0.22417941532712204,
 0.21977383072747697,
 0.21618989813247,
 0.2135042050734495,
 0.21182963643408081,
 0.20965696734438366,
 0.20780973338645242,
 0.2046468711716401,
 0.20033416898825335,
 0.20033416898825335,
 0.20016019225635892,
 0.19985201625794738,
 0.19985201625794738,
 0.19795764159656265,
 0.19611613513818407,
 0.19562767576168477,
 0.19535451620220176,
 0.19512313566832118,
 0.1945151603146787,
 0.1945151603146787,
 0.1943250826893887,
 0.19223226273338134,
 0.1909639664105154,
 0.18871283902409935,
 0.1884222879063983,
 0.18741582819745836,
 0.18685673434682065,
 0.18490006540840973,
 0.1849000654084097,
 0.183003604348671,
 0.1815682598006407,
 0.18014417303072303,
 0.17937941173234997,
 0.17937941173234997,
 0.17841031003501578,
 0.17841031003501576,
 0.1754116038614058,
 0.17476551841063892,
 0.17471413945365305,
 0.17295817388759027,
 0.17295817388759027,
 0.16984155512168933,
 0.16898159235484364,
 0.16724840200141816,
 0.167093470609201,
 0.16694514082354447,
 0.16694514082354447,
 0.16526725762745997,
 0.16477051091432687,
 0.16477051091432687,
 0.16401847362094593,
 0.16349964255346808,
 0.16349964255346808,
 0.1617875572323585,
 0.16012815380508713,
 0.15889162445979146,
 0.1585187847802434,
 0.1585187847802434,
 0.15818713475337637,
 0.15695698526580623,
 0.15631503171567182,
 0.15585730003983933,
 0.15585730003983933,
 0.15408338784034142,
 0.15408338784034142,
 0.1539670545751043,
 0.15311180047019055,
 0.15311180047019055,
 0.1513068831672006,
 0.1513068831672006,
 0.1513068831672006,
 0.15097027121927944,
 0.14846644469434814,
 0.14824986333222023,
 0.14824986333222023,
 0.14824986333222023,
 0.14824986333222023,
 0.14718099673591298,
 0.14718099673591298,
 0.14651588715165131,
 0.14484136487558028,
 0.14412659875498,
 0.1437993271357627,
 0.14351616441832768,
 0.14322297480788657,
 0.14322297480788657,
 0.14322297480788657,
 0.14322297480788657,
 0.14233613671563297,
 0.1416576493949657,
 0.14153462926807447,
 0.14153462926807445,
 0.14121975762272054,
 0.14121975762272054,
 0.14011213457945124,
 0.13937366833451514,
 0.1386750490563073,
 0.1386750490563073,
 0.1373087590952724,
 0.1373087590952724,
 0.1373087590952724,
 0.1373087590952724,
 0.13693937303317935,
 0.13655774839978377,
 0.13655774839978377,
 0.13655774839978377,
 0.13592873654160803,
 0.1358732440973515,
 0.13533299049019168,
 0.13533299049019168,
 0.1345345587992625,
 0.13355611265883557,
 0.13344012817090595,
 0.13344012817090595,
 0.13323467750529824,
 0.13323467750529824,
 0.1319717610643751,
 0.1316245316231641,
 0.1316245316231641,
 0.1316245316231641,
 0.1307440900921227,
 0.1307440900921227,
 0.1307440900921227,
 0.1307440900921227,
 0.13074409009212268,
 0.12988108336653278,
 0.12857571271486287,
 0.12820512820512822,
 0.12820512820512822,
 0.12820512820512822,
 0.1282051282051282,
 0.12810252304406972,
 0.12810252304406972,
 0.12810252304406972,
 0.12810252304406972,
 0.1281025230440697,
 0.12725695259515554,
 0.12725695259515554,
 0.12725695259515554,
 0.12659242088545833,
 0.12659242088545833,
 0.12561485860426555,
 0.12561485860426555,
 0.12503908082008885,
 0.12503908082008883,
 0.12403473458920844,
 0.1235415527768502,
 0.1235415527768502,
 0.1235415527768502,
 0.12326671027227314,
 0.12326671027227314,
 0.12326671027227314,
 0.1220965726263761,
 0.1215783580010781,
 0.12104550653376046,
 0.12104550653376046,
 0.12104550653376046,
 0.12104550653376046,
 0.12104550653376046,
 0.12104550653376046,
 0.1207011373963169,
 0.1207011373963169,
 0.1207011373963169,
 0.1207011373963169,
 0.12009611535381536,
 0.12009611535381534,
 0.12009611535381534,
 0.12009611535381534,
 0.11935247900657214,
 0.11935247900657214,
 0.1191687183448436,
 0.11894020669001053,
 0.11894020669001053,
 0.11894020669001053,
 0.11894020669001053,
 0.11894020669001053,
 0.11894020669001051,
 0.1180480411624714,
 0.11737660545701087,
 0.11694106924093722,
 0.11694106924093722,
 0.11694106924093722,
 0.11678545896676293,
 0.11678545896676293,
 0.1165103456070926,
 0.1165103456070926,
 0.1165103456070926,
 0.1165103456070926,
 0.1165103456070926,
 0.11556254088025608,
 0.11556254088025608,
 0.11556254088025608,
 0.11556254088025608,
 0.11556254088025608,
 0.11556254088025608,
 0.11556254088025608,
 0.11556254088025608,
 0.11503946170861017,
 0.11503946170861017,
 0.11503946170861017,
 0.11503946170861017,
 0.11503946170861017,
 0.11483385035264292,
 0.11437725271791938,
 0.11322770341445959,
 0.11322770341445959,
 0.11322770341445959,
 0.11322770341445958,
 0.11322770341445958,
 0.11322770341445958,
 0.11322770341445958,
 0.11322770341445958,
 0.11322770341445958,
 0.11244949691847501,
 0.11211213233271873,
 0.11211213233271873,
 0.11102889792108188,
 0.11102889792108188,
 0.11102889792108188,
 0.11098534863604863,
 0.11094003924504582,
 0.11094003924504581,
 0.11020775375559674,
 0.11020775375559674,
 0.10997646755364593,
 0.10997646755364593,
 0.10997646755364592,
 0.10984700727621793,
 0.10984700727621793,
 0.10836121044482576,
 0.10826639239215334,
 0.10826639239215334,
 0.10826639239215334,
 0.10826639239215334,
 0.10826639239215334,
 0.1079583792718826,
 0.1079583792718826,
 0.1079583792718826,
 0.1079583792718826,
 0.10741723110591493,
 0.10741723110591493,
 0.10741723110591493,
 0.10699012312772824,
 0.10699012312772824,
 0.10699012312772824,
 0.10699012312772824,
 0.10699012312772824,
 0.10675210253672475,
 0.10675210253672475,
 0.1060991783534611,
 0.10604746049596296,
 0.10604746049596296,
 0.10604746049596296,
 0.10604746049596296,
 0.10604746049596296,
 0.10545808983558425,
 0.10545808983558423,
 0.10545808983558423,
 0.10544512713012866,
 0.1053875728836433,
 0.10529962529853128,
 0.10529962529853128,
 0.10529962529853128,
 0.10482848367219183,
 0.10482848367219183,
 0.10482848367219183,
 0.10482848367219183,
 0.10482848367219183,
 0.10482848367219183,
 0.10482848367219183,
 0.10423454980627084,
 0.10421002114378122,
 0.10390486669322622,
 0.10390486669322622,
 0.10390486669322622,
 0.10390486669322622,
 0.10336227882434038,
 0.10336227882434038,
 0.10336227882434038,
 0.10336227882434038,
 0.10336227882434038,
 0.10256410256410257,
 0.10256410256410257,
 0.10256410256410257,
 0.10256410256410257,
 0.10256410256410257,
 0.10256410256410256,
 0.10256410256410256,
 0.1025115460130912,
 0.1025115460130912,
 0.1025115460130912,
 0.10241831129983782,
 0.10241831129983782,
 0.10241831129983782,
 0.10127393670836667,
 0.10127393670836667,
 0.10127393670836667,
 0.10127393670836667,
 0.10127393670836667,
 0.10127393670836667,
 0.10127393670836667,
 0.10087125544480038,
 0.10016708449412667,
 0.10016708449412667,
 0.10016708449412667,
 0.10016708449412667,
 0.10016708449412667,
 0.10016708449412667,
 0.10016708449412667,
 0.10008009612817946,
 0.10008009612817946,
 0.10008009612817945,
 0.10003126465607108,
 0.10003126465607108,
 0.10003126465607108,
 0.10003126465607108,
 0.10003126465607108,
 0.10003126465607107,
 0.09883324222148016,
 0.09883324222148016,
 0.09883324222148016,
 0.09883324222148016,
 0.09855206599818042,
 0.09855206599818042,
 0.09805806756909202,
 0.09805806756909202,
 0.09805806756909202,
 0.09805806756909202,
 0.09805806756909202,
 0.09805806756909202,
 0.09805806756909202,
 0.09805806756909202,
 0.09781383788084239,
 0.09781383788084239,
 0.09781383788084239,
 0.09767725810110088,
 0.09767725810110088,
 0.09767725810110088,
 0.09767725810110088,
 0.09767725810110088,
 0.09767725810110088,
 0.09767725810110088,
 0.09767725810110087,
 0.09767725810110087,
 0.09709195467257717,
 0.09656090991705352,
 0.09656090991705352,
 0.09656090991705352,
 0.09656090991705352,
 0.09638582199437336,
 0.09607689228305229,
 0.09607689228305229,
 0.09607689228305229,
 0.09607689228305229,
 0.09607689228305229,
 0.09607689228305229,
 0.09607689228305229,
 0.09607689228305229,
 0.09607689228305229,
 0.09607689228305229,
 0.09548198320525772,
 0.0954819832052577,
 0.0954819832052577,
 0.0954819832052577,
 0.0954819832052577,
 0.09501857794816083,
 0.09466737492152845,
 0.09443843292997713,
 0.09443843292997713,
 0.09443843292997713,
 0.09443843292997713,
 0.09435641951204965,
 0.09435641951204965,
 0.09435641951204965,
 0.09421114395319916,
 0.09421114395319916,
 0.09421114395319916,
 0.09421114395319916,
 0.09421114395319916,
 0.09421114395319916,
 0.09421114395319916,
 0.09421114395319916,
 0.09421114395319916,
 0.09342836717341034,
 0.09342836717341034,
 0.09342836717341034,
 0.09342836717341034,
 0.09342836717341034,
 0.09245003270420486,
 0.09245003270420486,
 0.09245003270420486,
 0.09245003270420486,
 0.09245003270420486,
 0.09245003270420486,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.0915018021743355,
 0.0915018021743355,
 0.0915018021743355,
 0.0915018021743355,
 0.0915018021743355,
 0.0915018021743355,
 0.09078412990032035,
 0.09078412990032035,
 0.09078412990032035,
 0.09078412990032035,
 0.09078412990032035,
 0.09058216273156766,
 0.09058216273156766,
 0.09058216273156766,
 0.09058216273156766,
 0.09058216273156766,
 0.09058216273156766,
 0.09058216273156766,
 0.0900791242218625,
 0.0900791242218625,
 0.08968970586617499,
 0.08968970586617499,
 0.08968970586617499,
 0.08968970586617499,
 0.08968970586617499,
 0.08959216401473295,
 0.08951435925492911,
 0.08920515501750789,
 0.08920515501750789,
 0.08920515501750789,
 0.08920515501750789,
 0.08896008544727062,
 0.0888231183368655,
 0.0888231183368655,
 0.08841598196121758,
 0.08798117404291673,
 0.08798117404291673,
 0.08798117404291673,
 0.08798117404291673,
 0.08798117404291673,
 0.08788174152965353,
 0.08770580193070292,
 0.08770580193070292,
 0.08770580193070292,
 0.08770580193070292,
 0.08770580193070292,
 0.08770580193070292,
 0.08770580193070292,
 0.08770580193070292,
 0.08770580193070292,
 0.08770580193070292,
 0.08770580193070292,
 0.08735706972682653,
 0.08716272672808179,
 0.08716272672808179,
 0.08716272672808179,
 0.08716272672808179,
 0.08716272672808179,
 0.08647908694379514,
 0.08636670341750609,
 0.08636670341750609,
 0.08636670341750609,
 0.08636670341750609,
 0.08636670341750609,
 0.08636670341750609,
 0.08627959628145762,
 0.08627959628145762,
 0.08627959628145762,
 0.08627959628145762,
 0.08627959628145762,
 0.08627959628145762,
 0.08627959628145762,
 0.08627959628145762,
 0.08627959628145762,
 0.08627959628145762,
 0.08627959628145762,
 0.08559209850218259,
 0.08559209850218259,
 0.08559209850218259,
 0.08559209850218259,
 0.08559209850218259,
 0.08559209850218259,
 0.08559209850218259,
 0.08559209850218259,
 0.08559209850218259,
 0.08559209850218259,
 0.08534859274986485,
 0.08492077756084468,
 0.08492077756084468,
 0.08492077756084468,
 0.08492077756084468,
 0.08492077756084468,
 0.08492077756084468,
 0.08492077756084468,
 0.08492077756084468,
 0.08483796839677037,
 0.08483796839677037,
 0.08483796839677037,
 0.08483796839677037,
 0.08483796839677037,
 0.08439494725697222,
 0.084103426706236,
 0.084103426706236,
 0.084103426706236,
 0.084103426706236,
 0.084103426706236,
 0.0837797810440511,
 0.08362420100070908,
 0.08362420100070908,
 0.08362420100070908,
 0.08362420100070908,
 0.08362420100070908,
 0.08362420100070908,
 0.08362420100070908,
 0.08362420100070908,
 0.08362420100070907,
 0.08338763984501665,
 0.0826898230594723,
 0.0826898230594723,
 0.0826898230594723,
 0.0826898230594723,
 0.0826898230594723,
 0.0826898230594723,
 0.0826898230594723,
 0.0826898230594723,
 0.0826898230594723,
 0.08238525545716345,
 0.08238525545716345,
 0.08238525545716345,
 0.08238525545716345,
 0.08238525545716345,
 0.0821440096816907,
 0.08200923681047297,
 0.08200923681047297,
 0.08200923681047297,
 0.0817150563075767,
 0.08134518347820842,
 0.08134518347820842,
 0.08134518347820842,
 0.08134518347820842,
 0.081199794294115,
 0.081199794294115,
 0.081199794294115,
 0.081199794294115,
 0.081199794294115,
 0.081199794294115,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.07944581222989573,
 0.07944581222989573,
 0.07944581222989573,
 0.07927524902574902,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07884165279854434,
 0.0782510703046739,
 0.0782510703046739,
 0.07792865001991967,
 0.07792865001991967,
 0.07792865001991967,
 0.07792865001991967,
 0.07792865001991967,
 0.07792865001991967,
 0.07792865001991967,
 0.07776510597812533,
 0.07767356373806174,
 0.07767356373806174,
 0.07767356373806174,
 0.07767356373806174,
 0.07767356373806174,
 0.07767356373806174,
 0.07767356373806174,
 0.07767356373806174,
 0.07767356373806174,
 0.07767356373806174,
 0.07710865759549869,
 0.07710865759549869,
 0.07710865759549869,
 0.07692307692307693,
 0.07692307692307693,
 0.07692307692307693,
 0.07692307692307693,
 0.07692307692307693,
 0.07692307692307693,
 0.07692307692307693,
 0.07692307692307693,
 0.07692307692307693,
 0.07692307692307693,
 0.07692307692307693,
 0.07655590023509527,
 0.07655590023509527,
 0.07655590023509527,
 0.07655590023509527,
 0.07601486235852867,
 0.07601486235852867,
 0.07601486235852867,
 0.075955452531275,
 0.075955452531275,
 0.075955452531275,
 0.075955452531275,
 0.075955452531275,
 0.075955452531275,
 0.075955452531275,
 0.075955452531275,
 0.075955452531275,
 0.075955452531275,
 0.075955452531275,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07502344849205331,
 0.07502344849205331,
 0.07502344849205331,
 0.07502344849205331,
 0.07502344849205331,
 0.07502344849205331,
 0.07502344849205331,
 0.07502344849205331,
 0.07502344849205331,
 0.07496633127898335,
 0.07496633127898335,
 0.07496633127898335,
 0.074458079104994,
 0.074458079104994,
 0.07412493166611012,
 0.07412493166611012,
 0.07412493166611012,
 0.07412493166611012,
 0.07412493166611012,
 0.07412493166611012,
 0.07412493166611012,
 0.07396002616336388,
 0.0736876126183612,
 0.0734718358370645,
 0.0734718358370645,
 0.0734718358370645,
 0.0734718358370645,
 0.0734718358370645,
 0.0734718358370645,
 0.0734718358370645,
 0.0734718358370645,
 0.0734718358370645,
 0.0734718358370645,
 0.0734718358370645,
 0.0734718358370645,
 0.0734718358370645,
 0.0734718358370645,
 0.0734718358370645,
 0.07325794357582566,
 0.07325794357582566,
 0.07325794357582566,
 0.07325794357582566,
 0.07325794357582566,
 0.07325794357582566,
 0.07325794357582566,
 0.07325794357582566,
 0.07325794357582566,
 0.07325794357582566,
 0.07325794357582566,
 0.07325794357582566,
 0.07299318686018119,
 0.07252377242938948,
 0.07252377242938948,
 0.07242068243779014,
 0.07242068243779014,
 0.07242068243779014,
 0.07242068243779014,
 0.07242068243779014,
 0.07242068243779014,
 0.07242068243779014,
 0.07242068243779014,
 0.07242068243779014,
 0.07242068243779014,
 0.07206329937749,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.0711680683578165,
 0.07082882469748285,
 0.07082882469748285,
 0.07082882469748285,
 0.07082882469748285,
 0.07082882469748285,
 0.07082882469748285,
 0.07082882469748285,
 0.07049248907296893,
 0.07007127538005775,
 0.07007127538005775,
 0.07007127538005775,
 0.07007127538005775,
 0.07007127538005775,
 0.07007127538005775,
 0.07007127538005775,
 0.07007127538005775,
 0.07007127538005775,
 0.07007127538005775,
 0.06995230878257362,
 0.06988565578146122,
 0.06988565578146122,
 0.06988565578146122,
 0.06988565578146122,
 0.06988565578146122,
 0.06988565578146122,
 0.06988565578146122,
 0.06988565578146122,
 0.06988565578146122,
 0.06988565578146122,
 0.06988565578146122,
 0.06947334742918748,
 0.06933752452815364,
 0.06933752452815364,
 0.06933752452815364,
 0.06933752452815364,
 0.06933752452815364,
 0.06933752452815364,
 0.06933752452815364,
 0.06933752452815364,
 0.06890818588289359,
 0.0686701603499473,
 0.06862635163075162,
 0.06862635163075162,
 0.06862635163075162,
 0.06862635163075162,
 0.06862635163075162,
 0.06862635163075162,
 0.06862635163075162,
 0.06862635163075162,
 0.06862635163075162,
 0.06862635163075162,
 0.06862635163075162,
 0.06827887419989188,
 0.06827887419989188,
 0.06827887419989188,
 0.06827887419989188,
 0.06827887419989188,
 0.06827887419989188,
 0.06827887419989188,
 0.06827887419989188,
 0.06793662204867575,
 0.06793662204867575,
 0.06793662204867575,
 0.06793662204867575,
 0.06793662204867575,
 0.06793662204867575,
 0.06789420142508988,
 0.06751595780557777,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06677805632941779,
 0.06677805632941779,
 0.06677805632941779,
 0.06677805632941779,
 0.06677805632941779,
 0.06677805632941779,
 0.06677805632941779,
 0.06677805632941779,
 0.06677805632941779,
 0.06677805632941779,
 0.06677805632941779,
 0.06677805632941779,
 0.06677805632941779,
 0.06677805632941779,
 0.06661733875264912,
 0.06661733875264912,
 0.06661733875264912,
 0.06661733875264912,
 0.06661733875264912,
 0.06661733875264912,
 0.06661733875264912,
 0.06661733875264912,
 0.06641806418489572,
 0.06598588053218755,
 0.06598588053218755,
 0.06598588053218755,
 0.06598588053218755,
 0.06598588053218755,
 0.06598588053218755,
 0.06598588053218755,
 0.06598588053218755,
 0.06598588053218755,
 0.06598588053218755,
 0.06537204504606135,
 0.06537204504606135,
 0.06537204504606135,
 0.06537204504606135,
 0.06537204504606135,
 0.06537204504606135,
 0.06537204504606135,
 0.06537204504606135,
 0.06537204504606135,
 0.06537204504606135,
 0.06537204504606135,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06477502756312957,
 0.06477502756312957,
 0.06477502756312957,
 0.06477502756312957,
 0.06477502756312957,
 0.06477502756312957,
 0.06477502756312957,
 0.06470154480826261,
 0.06470154480826261,
 0.06419407387663695,
 0.06419407387663695,
 0.06419407387663695,
 0.06419407387663695,
 0.06419407387663695,
 0.06419407387663695,
 0.06419407387663695,
 0.06405126152203486,
 0.06405126152203486,
 0.06405126152203486,
 0.06405126152203486,
 0.06405126152203486,
 0.06405126152203486,
 0.06405126152203486,
 0.06405126152203486,
 0.06405126152203486,
 0.06405126152203486,
 0.06405126152203486,
 0.06405126152203486,
 0.06405126152203486,
 0.06405126152203486,
 0.06405126152203486,
 0.06405126152203486,
 0.06405126152203486,
 0.06405126152203486,
 0.06373338729429075,
 0.06362847629757777,
 0.06362847629757777,
 0.06362847629757777,
 0.06362847629757777,
 0.06362847629757777,

In [63]:
## enumerate will helpp to it never loose the index position after the sorthing 
sorted(list(enumerate(similarity[0])), reverse=True, key = lambda x:x[1])[1:6]

[(2409, 0.2625754538144587),
 (3731, 0.2506402059138015),
 (1216, 0.24773936993814405),
 (539, 0.2471557663714903),
 (507, 0.24403555043462524)]

In [64]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse=True, key = lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [65]:
recommend('Batman')

Batman
Batman & Robin
Batman Begins
Batman Returns
The R.M.

In [66]:
print(similarity.shape)

(4809, 4809)

In [ ]:
movie_name = input('Enter your favourite movie name : ' )

In [ ]:
# creating a list with all the movie names givn in the dataset

list_of_all_titels = movie['title'].tolist()
print(list_of_all_titels)

In [ ]:
# finding the close match for the movie name given by the user
find_close_match = difflib.get_close_matches(movie_name, list_of_all_titels)
print(find_close_match)